
@tailwind base;
@tailwind components;
@tailwind utilities;


/**
 * import primary font
 */
@import url('iransansx.font.css');

@layer base {
	/**
	* Reset defaults for font and direction
	*/
	html {
		font-family: IRANSansX;
		direction: rtl;
	}
	body {
		text-align: right;
	}
}