
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('iransansx.font.css');

@layer base {
	html {
		font-family: IRANSansX;
		direction: rtl;
	}
	body {
		direction: rtl;
		text-align: right;
	}
}

@layer components {
	.sweetscroll::-webkit-scrollbar {
		width: 6px;
	}

	.sweetscroll::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.01);
	}

	.sweetscroll::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .1);
		border-radius: 4px;
		transition: background .2s;
	}

	.sweetscroll::-webkit-scrollbar-thumb:hover {
		background: rgba(0, 0, 0, .2);
	}
}